version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:12.14.0
    steps:
      - checkout
      - run: yarn
      - run: yarn pull:wkt
      - run: yarn build
      - run: npx nyc yarn test
